<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.skhu.mapper.UserMapper">

	<select id="findAll" resultType="User">
		select * from user
	</select>

	<select id="findOne" resultType="User">
		select * from user where id = #{id}
	</select>
	
	<select id="findById" resultType="User">
		select * from user where id like #{st}
	</select>

	<select id="findByName" resultType="User">
		select * from user where name like #{st}
	</select>
	
	<insert id="insert">
		insert into user values(#{id}, #{department}, #{name}, #{gender},
		#{grade}, #{phone}, #{email}, #{password});
	</insert>
	
	<update id="update">
		update user set 
			name = #{name},
			department = #{department},
			gender = #{gender},
			grade = #{grade},
			phone = #{phone},
			email = #{email},
			password = #{password}
		where id = #{id}
	</update>
</mapper>